.idea/
.gradle/
.settings/
.bin/
build/
!build/outputs/apk/debug/
!build/outputs/apk/release/
jni/backup/
obj/
zbarsources/obj/
zbarsources/libs/
.classpath
.project
*.iml
*.bak
*.o
*.a
*.ppu
*.compiled
